.App {
  font-family: "Titillium Web", sans-serif;
  color: #636363;
  max-width: 600px;
  margin: 20px auto;
  padding: 0;
}

.App .container {
  border: 0.7px solid #636363;
  border-radius: 6px;
  padding: 10px 10px 15px;
  margin-bottom: 8px;
}

.App a {
  color: inherit;
  text-decoration: underline;
}
