body{
  background-color: #4EBAC6;
    font-family: "Poppins", sans-serif;
}

.App {
  background-size: 100% 100%;
  background-color: #fff;
  max-width: 900px;
  display: block;
  margin: 50px auto;
  width: 100%;
  border-radius: 10px;
  
  font-weight: bolder;

  border: 5px;
  box-shadow:3px;
}
