.city {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 400px;
  line-height: 1.5;
  margin-top: 25px;
}

.date {
  display: block;
  font-size: 15px;
  color: black;
}

.temperature {
  height: 70px;
  font-size: 45px;
  font-weight: 600;
}

.img {
  position: relative;
  top: -8px;
  max-width: 75px;
  margin-left: -10px;
}

.unit {
  transition: all 200ms ease-in-out;
  font-size: 16px;
  position: relative;
  top: -20px;
  margin-left: 3px;
}

#more-info {
  height: 100%;
  padding: 10px;
  margin-top: 30px;
  border-radius: 30px;
  margin: 30px;
  background: cornsilk;
  border: 1px solid;
  text-align: center;
  justify-content: center;
}
