.Weather {
  border: none;
  border-radius: 5px;
  padding: 15px 15px 0 15px;
  margin: 15px 0 0 0;
}

.Weather .col-6 {
  text-align: center;
}

.Weather .Search {
  border: thin;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 1px;
  width: 60%;
}

.Weather button {
  padding: 10px;
  background-color: aquamarine;
  width: 30%;
  border-radius: ;
}

h1 {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 400px;
  line-height: 1.5;
  margin-top: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 14px;
  line-height: 15px;
  font-weight: 80px;
  list-style-type: none;
}

.temperature {
  line-height: 70px;
  font-size: 45px;
  font-weight: 600;
}

.unit {
  transition: all 200ms ease-in-out;
  font-size: 16px;
  position: relative;
  top: -20px;
  margin-left: 3px;
}

canvas {
  margin: 10px auto;
}

.date {
  text-align: center;
  font-size: 15px;
  color: black;
  margin-top: -20px;
}
