h4 {
  font-size: 15px;
  margin-top: 20px;
  color: rgb(33, 37, 41);
}

.ForecastPreview {
  margin-top: 10px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.col-2 {
  box-sizing: border-box;
  display: block;
  margin: 20px;
}

.Forecast canvas {
  display: block;
}
