.Weather {
  border: none;
  border-radius: 5px;
  padding: 15px 15px 0 15px;
  margin: 15px 0 0 0;
}

.Weather .col-6 {
  text-align: center;
}

.Weather .Search {
  border-radius: 20px 0 0 20px;
  padding: 10px;
  margin: 5px auto;
  width: 50%;
  margin-left: 70px;
  border-right: none;
}

.Weather button {
  padding: 10px;
  background-color: #fff;
  width: 20%;
  border-radius: 0 20px 20px 0;
  border-left: none;
}

.Weather h1 {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 400px;
  line-height: 1.5;
  margin-top: 15px;
  color: rgb(33, 37, 41);
}

ul {
  list-style: none;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
}

.Weather .current {
  margin: 15px auto;
}

.Weather .temperature {
  line-height: 70px;
  font-size: 45px;
  font-weight: 600;
  color: rgb(33, 37, 41);
}
.Weather .minMax {
  font-size: 18px;
  font-weight: 300px;
}

.Weather .description {
  text-transform: capitalize;
}

.Weather .unit {
  transition: all 200ms ease-in-out;
  font-size: 16px;
  position: relative;
  top: -20px;
  margin-left: 3px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .date {
  text-align: center;
  font-size: 15px;
  color: black;
  margin-top: -24px;
}
